{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Tag'|trans %}
{% set subtitle = 'List'|trans %}

{% block search -%}
    {% include 'CekurteZCPEBundle:Tag:search.html.twig' %}
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route': 'admin_tag_new'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:export.html.twig' with {
        'route': 'admin_tag_export'
    } only %}
    {% endembed %}
{% endblock %}

{% block links_footer -%}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th{% if pagination.isSorted('ck.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'ck.title', {'title' : 'Order by'|trans ~ ' ' ~ 'Title'|trans}) }}</th>
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <th class="action">{{ 'Actions'|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td>{{ entity.title }}</td>
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <td>
                            {% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' with {
                                'route'             : 'admin_tag_show',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
                                'route' : 'admin_tag_edit',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
                                'route'             : 'admin_tag_delete',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id,
                                'form'              : delete_form,
                            } only %}
                            {% endembed  %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
