{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Category'|trans %}
{% set subtitle = 'Add'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route' : 'admin_category'
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <form class="form-horizontal" role="form" action="{{ path('admin_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
    </form>

{% endblock %}

{%- block javascripts -%}
    {{ parent() }}

{%- endblock -%}
