{% extends 'CekurteGeneratorBundle::modal.html.twig' %}

{% block container_open %}<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel" aria-hidden="true">{% endblock %}

{% block title -%}{{ 'Preview' | trans }}{% endblock %}

{% block form_open -%}
    <form class="form-horizontal" role="form" action="{{ path('admin_question_send_mail', {'question': entity.id}) }}" method="get">
{% endblock %}

{% block dialog_open %}<div class="modal-dialog modal-lg">{% endblock %}

{% block content -%}{% endblock %}

{% block action_close -%}
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {{ 'Close' | trans }}</a>
{% endblock %}

{% block action_submit %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> {{ 'Send Mail' | trans }}
    </button>
{% endblock %}
